<!-- templates/page500.hbs -->
<div class='login-page'>
  <div class="login-container">
    <h1 class='title'>Вход</h1>

    <form>
      <div class='field-container'>
        {{> input type='text' id='login-username' class='username field' name='username' placeholder='Логин' }}
      </div>
      <div class='field-container'>
        {{> input type='password' id='login-password' class='password field' name='password' placeholder='Пароль' }}
      </div>
    </form>

    {{> button class='button' text='Авторизоваться' }}
    {{> link class='link' href='registrationPage' data-page='registrationPage' text='Нет аккаунта?' }}
  </div>

  {{> footer class='footer' }}
</div>
