<main class='login-page'>
  <section class='login-container'>
    <h1 class='title'>Вход</h1>

    <form>
      <div class='field-container'>
        {{> input type='text' id='login-username' class='username field' name='login' placeholder='Логин' }}
      </div>
      <div class='field-container'>
        {{> input type='password' id='login-password' class='password field' name='password' placeholder='Пароль' }}
      </div>
    </form>

    {{> button class='button' text='Войти' }}
    {{> link class='link' href='registrationPage' data-page='registrationPage' text='Нет аккаунта?' }}
  </section>

  {{> pageNavigation class='pageNavigation' }}
</main>
