.field-container {
  label {
    font-family: NunitoSans, sans-serif;
  }

  input {
    font-family: NunitoSans, sans-serif;
    outline: none;
    border: none;

    &:disabled {
      background-color: transparent;
    }
  }

  .field {
    font-size: 13px;
    padding: 0.25rem 0;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--blue-color);
  }
}

.no-label {
  label {
    display: none;
  }
}
