{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-redundant-type-constituents": "off",
    "@typescript-eslint/no-for-in-array": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unnecessary-type-assertion": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "quotes": ["warn", "single"],
    "semi": ["warn", "never"],
    "indent": ["warn", 2],
    "prefer-const": "warn",
    "no-multi-spaces": "warn",
    "comma-dangle": ["error", "never"],
    "object-curly-spacing": ["warn", "always"],
    "space-in-parens": "error",
    "func-names": "off",
    "no-multiple-empty-lines": "error",
    "class-methods-use-this": "off",
    "prefer-promise-reject-errors": "off",
    "prefer-destructuring": "off",
    "spaced-comment": "off",
    "max-len": "off",
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "no-continue": "off",
    "no-console": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "no-unused-expressions": "off",
    "no-useless-return": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-else-return": "off",
    "no-return-assign": "off",
    "no-restricted-syntax": "off",
    "no-constructor-return": "off",
    "no-new": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["vite.config.js", "**/*.config.js", "**/*.config.*"]
    }],
    "import/no-unresolved": ["error", {
      "ignore": ["\\?raw$"]
    }]
  }
}
