<div class='profile-page'>
  <div class="nav-container">
    <div class="round-button back-button">
      <img src="../../../public/svg/arrow.svg" alt="arrow image">
    </div>
  </div>

  <div class="profile-container">
    <div class="profile">
      <div class="avatar-container">
        <div class="avatar">
          <img src="../../../public/svg/image.svg" alt="default image">
        </div>
      </div>

      <div class="name-container">
        <h3 class="name">Иван</h3>
      </div>

      <div class="info-container">
        <div class="email info-field">
          <p>Почта</p>
          <p>pochta@yandex.ru</p>
        </div>

        <div class="login info-field">
          <p>Логин</p>
          <p>ivanivanov</p>
        </div>

        <div class="name info-field">
          <p>Имя</p>
          <p>Иван</p>
        </div>

        <div class="surname info-field">
          <p>Фамилия</p>
          <p>Иванов</p>
        </div>

        <div class="chat-name info-field">
          <p>Имя в чате</p>
          <p>Иван</p>
        </div>

        <div class="tel info-field">
          <p>Телефон</p>
          <p>+7 (909) 967 30 30</p>
        </div>
      </div>

      <div class="save-container">
        {{> button class='button' text='Сохранить' }}
      </div>

      <div class="edit-container">
        <p class="change-info">Изменить данные</p>
        <p class="change-password">Изменить пароль</p>
        <p class="exit">Выйти</p>
      </div>
    </div>
  </div>
  {{> footer class='footer' }}
</div>
