.profile-page {
  display: flex;
  width: 100%;
  height: 100%;

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 64px;
    background-color: var(--grey-color);
    border-right: 1px solid var(--secondary-grey-color);
  }

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    .profile {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 510px;

      .avatar-container {
        display: flex;
        justify-content: center;

        .avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;
          height: 130px;
          background-color: var(--secondary-grey-color);
          border-radius: 50%;
        }
      }

      .info-container {
        .info-field {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          padding: 0.5rem 0;
          border-bottom: 1px solid var(--secondary-grey-color);

          label {
            height: 18px;
            flex-basis: fit-content;
            font-size: 13px;
            font-weight: bold;
            line-height: 18px;
          }

          input {
            height: 18px;
            flex-grow: 1;
            font-size: 13px;
            text-align: end;
            color: var(--secondary-text-color);
            line-height: 18px;
          }

          input::placeholder {
            color: var(--secondary-text-color);
          }
        }

        .info-field:last-child {
          border: none;
        }
      }

      .save-container {
        display: flex;
        justify-content: center;
      }
    }
  }
}
