.messenger-page {
  --chat-header-height: 55px;
  --chat-footer-height: 55px;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.messenger-page .chat-list-container {
  display: flex;
  flex-direction: column;
  flex-basis: 310px;
  background-color: var(--grey-color);
  border-right: 1px solid var(--secondary-grey-color);
}
.messenger-page .chat-list-container .chat-list-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem;
}
.messenger-page .chat-list-container .chat-list-header .actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messenger-page .chat-list-container .chat-list-header .actions-container .add-chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  cursor: pointer;
  background-color: var(--blue-color);
  color: white;
  border-radius: var(--border-radius-xs);
  user-select: none;
  transition: background-color 0.3s;
}
.messenger-page .chat-list-container .chat-list-header .actions-container .add-chat-button:hover {
  background-color: var(--blue-hover-color);
  transition: background-color 0.3s;
}
.messenger-page .chat-list-container .chat-list-header .actions-container .go-to-profile {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
.messenger-page .chat-list-container .chat-list-header .actions-container .go-to-profile p {
  font-size: 12px;
  color: var(--secondary-text-color);
}
.messenger-page .chat-list-container .chat-list-header .actions-container .go-to-profile img {
  margin-top: 1px;
}
.messenger-page .chat-list-container .chat-list-header .field-container {
  width: 100%;
}
.messenger-page .chat-list-container .chat-list-header .field-container .search-chat {
  width: 100%;
  height: 32px;
  padding: 0 1rem;
  background-color: var(--secondary-grey-color);
  border-radius: var(--border-radius-xs);
}
.messenger-page .chat-list-container .chat-list {
  overflow-y: auto;
}
.messenger-page .messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding: 0 1rem;
}
.messenger-page .messages-container .chat-header {
  display: flex;
  align-items: center;
  flex-basis: var(--chat-header-height);
  min-height: var(--chat-header-height);
  gap: 1rem;
  border-bottom: 1px solid var(--secondary-grey-color);
}
.messenger-page .messages-container .chat-header .avatar {
  width: 34px;
  height: 34px;
  background-color: var(--secondary-grey-color);
  border-radius: 50%;
}
.messenger-page .messages-container .chat-header .name {
  flex-grow: 1;
  font-size: 13px;
  font-weight: 700;
}
.messenger-page .messages-container .chat-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding-right: 0.5rem;
  overflow-y: auto;
}
.messenger-page .messages-container .chat-footer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-basis: var(--chat-footer-height);
  min-height: var(--chat-footer-height);
  gap: 0.5rem;
  border-top: 1px solid var(--secondary-grey-color);
}
.messenger-page .messages-container .chat-footer .file-dropdown .element {
  background-color: transparent;
}
.messenger-page .messages-container .chat-footer .field-container {
  flex-grow: 1;
  width: 100%;
  height: 32px;
}
.messenger-page .messages-container .chat-footer .field-container .input-container {
  height: 32px;
  padding: 0 1rem;
  background-color: var(--secondary-grey-color);
  border-radius: var(--border-radius-s);
  border: 1px solid transparent;
}
.messenger-page .messages-container .chat-footer .field-container .input-container .message {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-grey-color);
}
.messenger-page .messages-container .chat-footer .field-container .message-container {
  display: none;
}
.messenger-page .messages-container .chat-footer .field-container .error-input {
  border: 1px solid var(--red-color);
}
.messenger-page .messages-container .chat-footer .round-button img {
  transform: rotate(180deg);
}
.messenger-page .messages-container .chat-footer .send-message-button {
  background-color: transparent;
}

/*# sourceMappingURL=messengerPage.css.map */
