<nav class='{{class}}'>
  {{> link class='pageNavigation-link' href='loginPage' data-page='loginPage' text='Вход' }}
  {{> link class='pageNavigation-link' href='registrationPage' data-page='registrationPage' text='Регистрация' }}
  {{> link class='pageNavigation-link' href='profilePage' data-page='profileViewPage' text='Профиль (просмотр)' }}
  {{> link class='pageNavigation-link' href='profileEditPage' data-page='profileEditPage' text='Профиль (редактирование)' }}
  {{> link class='pageNavigation-link' href='profileEditPasswordPage' data-page='profileEditPasswordPage' text='Профиль (смена пароля)' }}
  {{> link class='pageNavigation-link' href='messengerPage' data-page='messengerPage' text='Мессенджер' }}
  {{> link class='pageNavigation-link' href='page404' data-page='page404' text='404' }}
  {{> link class='pageNavigation-link' href='page500' data-page='page500' text='500' }}
</nav>

