// Переменные SCSS
$primary-color: #4CAF50;
$hover-primary-color: #58ac5a;
$secondary-color: #007BFF;
$text-color: #333;
$background-color: #f4f4f9;
$header-height: 3rem;
$footer-height: 3rem;

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), url(/src/assets/fonts/NunitoSans.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: NunitoSans, sans-serif;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}
