<main class='profile-page'>
  <aside class='nav-container'>
    <div class='round-button back-button'>
      <img src='svg/arrow.svg' alt='arrow'>
    </div>
  </aside>

  <section class='profile-container'>
    <div class='profile'>
      <div class='avatar-container'>
        <div class='avatar'>
          <img src='svg/image.svg' alt='default'>
        </div>
      </div>

      <div class='info-container'>
        <div class='old-password info-field'>
          {{> input type='password' id='old-password-profile-edit-password' name='oldPassword' placeholder='•••••••••' labelText='Старый пароль' }}
        </div>

        <div class='new-password info-field'>
          {{> input type='password' id='new-password-profile-edit-password' name='newPassword' placeholder='•••••••••••' labelText='Новый пароль' }}
        </div>

        <div class='new-repeat-password info-field'>
          {{> input type='password' id='new-repeat-password-password-profile-edit-password' name='newPassword' placeholder='•••••••••••' labelText='Повторите новый пароль' }}
        </div>
      </div>

      <div class='save-container'>
        {{> button class='button' text='Сохранить' }}
      </div>
    </div>
  </section>

  {{> pageNavigation class='pageNavigation' }}
</main>
